table{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    font-family: Arial;
    box-shadow: 5px 10px #888888;
}
tr, td{
    border: 1px solid black;
    padding: 3px;
    vertical-align: top;
}
td.pic{
width:70%;
background-color: lightyellow;
}
td#last{
width: 30%;
background-color: lightblue;
}
td.thirtyfive{
width: 35%;
background-color: pink;
}
img{
    width: 100%;
}
td.caption{
    width: 70%;
    background-color: lightgreen;
}
body{
    background-color: cadetblue;
}